<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'wish/css/home.css' %}">
</head>

<body>
    <div class='container'>
        <div id="wrapper">
            <div id='nav-bar'>
                <h1>Hello {{ request.session.fName }}!</h1>
                <div id="nav-links">
                    <a href="/wish">
                        <p class="clrLink purps">Home</p>
                    </a>
                    <a href="/wish/logout">
                        <p class="clrLink">Logout</p>
                    </a>
                </div>
            </div>
            <div id="stats">
                <h1>Total granted wishes for all users: {{ request.session.grantedCount }}</h1>
                <hr>
                <h2>Your granted wishes: {{ request.session.myGrantedTotal }}</h2>
                <hr>
                <h2>Your pending wishes: {{ request.session.myWishesTotal }}</h2>
            </div>
        </div>
    </div>
</body>

</html>